/* Importing Reddit Sans from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/* All needed animations. */
@keyframes ship-movement {
  0% {transform: rotate(0deg) translateX(5%) rotate(0deg);}
  100% {transform: rotate(360deg) translateX(5%) rotate(-360deg);}
}

@keyframes flame-flicker {
  0% {transform: scaleY(104%) translateY(6%);}
  100% {transform: scaleY(96%); opacity: 95%;}
}

@keyframes scroll-background {
  0% {transform: translateY(-50%);}
  100% {transform: translateY(0%);}
}

@keyframes bounce {
  0% {transform: translateY(0%);}
  100% {transform: translateY(-20%);}
}

@keyframes orbit {
  0% {transform: translate(-50%, -50%) rotate(0deg);}
  100% {transform: translate(-50%, -50%)  rotate(360deg);}
}

@keyframes levitate {
  0% {background-position-y: 60%;}
  100% {background-position-y: 90%}
}

/* All general formatting. */
body {
  margin: 0;

  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: #f5f5f5;
  color: #231F20;

  font-family: "Reddit Sans";
}

main {
  display: flex;
  flex-direction: column;

  flex: 1;
}

table {
  background-color: white;
  text-align: center;

  border: 0;
  border-collapse: collapse;
}

table button {
  font-family: 'Reddit Sans';

  border-radius: 100px;
  border: 0;

  padding: 5px 20px;
  margin: 5px;
}

table button:hover {
  cursor: pointer;
}

th {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

th, td {
  border: 0;

  padding: 5px;
}

/* Formatting for the web header itself. */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: white;

  padding: 15px 35px 15px 35px;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);

  z-index: 99;
}

header a {
  text-decoration: none;
  color: #231F20;
}

/* Logo formatting. */
.logo {
  width: 30%;
  display: flex;

  align-items: center;
}

.logo img {
  margin-right: 4px;

  height: 32px;
}

.logo p {
  margin: 0;

  font-size: 20pt;
}

/* Formatting for the navigation bar itself. */
.nav-bar {
  max-width: 35%;
  min-width: 175px;
}

.nav-bar ul {
  display: flex;
  align-items: stretch;
  justify-content: center;

  gap: 10px;

  height: 100%;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav-bar li {
  box-sizing: border-box;

  width: 100px;

  padding: 6px;

  text-align: center;

  display: none;
}

.nav-bar a {
  color: #231F20;

  display: flex;

  height: 100%;
  width: 100%;

  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.nav-bar a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-bar a img {
  height: 25px;
  margin-right: 5px;
}

/* Formatting for the sign up button. */
.account-button {
  border-radius: 25px;
  background-color: #231F20;
  display: inherit;
  color: white;
  cursor: pointer;
}

.account-button:hover {
  background-color: #332d2e;
}

.account-button:active {
  transform: scale(95%);
}

.account-button a {
  color: white;
}

.account-button a:hover {
  text-decoration: none;
}

/* Formatting for the account / signout section. */
#signout {
  width: 40px;

  justify-content: center;
  align-items: center;
}

#signout img {
  height: 35px;

  border-radius: 100px;
}

#signout img:hover {
  cursor: pointer;
}

#signout div {
  position: absolute;

  transform: translateY(115%);

  width: 10%;

  border-radius: 20px;
  padding: 10px;

  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

#signout div::before {
  content: '';

  position: absolute;
  top: -8px;
  left: 50%;

  transform: translateX(-50%);

  height: 0;
  width: 0;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-bottom: 8px solid white;
}

#signout .account-button {
  font-family: 'Reddit Sans';
  font-size: 11pt;

  border: 0;

  width: 100%;

  padding: 5px;
}

/* Formatting for the about page header. */
.about-header {
  display: flex;

  justify-content: space-between;

  background-color: #231F20;
  color: white;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;

  overflow: hidden;
}

.about-main h1, p {
  margin: 10px;
}

.starfield {
  display: flex;

  width: 25%;

  overflow: hidden;
}

.starfield::before {
  content: '';
  
  height: 200%;
  width: 100%;
  background-image: url('./starfield.svg');
  background-size: 100% 50%;

  animation: 5s linear 0s infinite scroll-background;
}

.starfield:nth-child(1)::before {
  animation-delay: -2s;
}

.ship {
  display: flex;
  flex-direction: column;

  margin: 75px 0 75px 0;

  animation: 3s linear 0s infinite ship-movement;
}

.ship img:last-child {
  margin-top: 5px;

  animation: 0.5s linear 0s infinite alternate flame-flicker;
}

.team-info {
  font-size: 10pt;
}

/* Formatting for the smaller info section. */
.info-container {
  text-align: center;

  padding: 24px;
}

.info-container:nth-child(odd) {
  background-color: rgba(255,255,255,0.25);
}

.info-container h2 {
  margin: 24px;
}

.info-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  padding: 0;
  margin: 24px;

  list-style-type: none;
}

.info-container li {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 20%;
  aspect-ratio: 2.25/1;

  border-radius: 20px;
  padding: 24px;

  background-color: white;
  box-shadow: 0 5px 5px lightgrey;
}

.info-container li hr {
  border: 1px solid lightgrey;
  width: 60%;
}

/* Formatting for the login / sign up page. */
.account-form {
  display: flex;
  flex-direction: column;

  flex: 1;

  justify-content: center;
  align-items: center;
}

.account-form form {
  display: flex;
  flex-direction: column;

  border-radius: 20px;

  width: 32%;

  box-sizing: border-box;

  padding: 40px;

  background-color: white;
  box-shadow: 0 5px 5px lightgrey;
}

.account-form img {
  margin: 5px;

  height: 80px;
}

.account-form label {
  display: inline-block;

  margin-top: 15px;
}

.extra-field {
  margin-top: 15px;
}

.account-form label:nth-of-type(1) {
  margin-top: 0;
}

.account-form input {
  font-size: 12pt;
  font-family: "Reddit Sans";

  box-sizing: border-box;

  width: 100%;
}

.account-form input[type="submit"] {
  font-size: 12pt;
  font-family: "Reddit Sans";

  border-radius: 20px;
  border: 0;

  margin-top: 20px;
  padding: 8px;

  width: 100%;
}

.account-form input[type="submit"]:hover {
  cursor: pointer;
}

#loginMsg {
  text-align: center;
  border-radius: 20px;

  margin-top: 20px;
  padding: 10px;

  width: 32%;

  box-sizing: border-box;

  background-color: white;
  box-shadow: 0 5px 5px lightgrey;
}

/* Formatting for the catalog page. */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
}

.product-grid div {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  background-color: white;
  border-radius: 20px;

  padding: 20px;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.product-grid div button {
  font-size: 12pt;
  font-family: "Reddit Sans";

  border-radius: 20px;
  border: 0;

  margin-top: 20px;
  padding: 8px;

  width: 100%;
}

.product-grid div button:hover {
  cursor: pointer;
}

/* Formatting for the menu page. */
.menu-page {
  display: flex;
  flex-direction: row;
}

.reception {
  display: flex;
  flex-direction: column;

  flex: 1;

  justify-content: center;
  align-items: stretch;
}

.wall-area {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 10px;
}

.floor-level {
  display: flex;

  justify-content: center;
}

.small-window {
  aspect-ratio: 1/1;

  height: 175px;

  background-color: black;
  border-radius: 300px;
}

.big-window {
  aspect-ratio: 1/1;

  height: 300px;

  background-color: black;
  border-radius: 300px;
}

.obelisk {
  background-image: url('/media/obelisk.svg');
  background-size: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;

  height: 100%;
  width: 100px;

  animation: 5s ease-in-out 0s infinite alternate levitate;
}

.desk-area {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.speech-bubble {
  position: absolute;

  transform: translateY(-110%);

  padding: 25px;
  border-radius: 25px;

  background-color: white;
}

.speech-bubble::after {
  content: '';

  position: absolute;
  bottom: -8px;
  left: 50%;

  transform: translateX(-50%) rotate(180deg);

  height: 0;
  width: 0;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-bottom: 8px solid white;
}

.blob-creature {
  display: flex;
  flex-direction: column;

  align-items: center;

  background-image: url('/media/blob-creature.svg');
  background-size: 100% 100%;

  height: 200px;
  width: 150px;

  transform: translateY(100px);
}

.blob-eye {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1/1;

  height: 40px;
  margin-top: 30px;

  border-radius: 100px;

  background-color: white;
}

.blob-pupil {
  position: absolute;

  aspect-ratio: 1/1;

  height: 25px;
  border-radius: 100px;

  background-color: black;

  transition: transform 0.05s linear;
}

.desk {
  background-image: url('/media/desk.svg');
  background-size: 100% 100%;

  height: 100px;
  width: 400px;

  position: relative;

  z-index: 10;
}

.plant {
  background-image: url('/media/plant-pot.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;

  height: 100%;
  width: 100px;
}

.side-menu {
  list-style-type: none;
  
  margin: 0;
  padding: 0;

  background-color: #e3e3e3;
}

.side-menu li {
  padding: 15px;
}

.side-menu li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
}

.side-menu a {
  text-decoration: none;
  color: #231F20;
}

/* View Users formatting. */
.view-users {
  display: flex;
  flex: 1;

  justify-content: center;
  align-items: stretch;

  gap: 5%;
}

.user-management {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  width: 20%;

  background-color: white;
}

.menu-container {
  display: inline-block;
  text-align: left;

  width: 100%;
}

.menu-header {
  font-size: 14pt;

  padding: 15px;
  margin: 0;

  background-color: white;
}

.menu-sector {
  padding: 15px;

  background-color: rgba(255, 255, 255, 0.05);
}

.menu-sector p {
  margin: 0;
}

.delete-button {
  font-family: 'Reddit Sans';
  font-size: 12pt;

  width: 100%;

  text-align: center;

  border: 0;

  background-color: rgba(0, 0, 0, 0.8);
  color: white;

  padding: 10px;
}

.delete-button:hover {
  cursor: pointer;
}

/* Blackjack. */
.blackjack {
  display: flex;
  flex-direction: column;

  flex: 1;

  justify-content: space-around;
}

.game-controls {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 20px;

  align-items: center;
}

.game-controls button {
  font-size: 12pt;
  font-family: "Reddit Sans";

  border-radius: 20px;
  border: 0;

  margin-top: 20px;
  padding: 8px;

  width: 20%;
}

.hand {
  display: flex;

  justify-content: center;

  gap: 10px;
}

.card {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 10px;

  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

  border-radius: 8px;
  border: 5px solid white;

  width: 160px;
  height: 225px;

  padding: 5px;
}

.card p {
  display: inline-block;

  text-align: center;
}

.card span {
  text-align: center;

  font-size: 24pt;
}

.card-row {
  display: flex;
  flex-direction: column;

  flex: 1;

  height: 75%;

  justify-content: space-around;
}

.card-info, .card-info-alt {
  display: flex;

  height: 100%;

  margin: 0;
  padding: 0;
}

.card-info {
  align-items: start;
}

.card-info-alt {
  align-items: end;
}

/* Additional formatting for specific cards. */
.Seven .card-row:nth-child(3) {
  height: 42.5%;

  justify-content: start;
}

.Eight .card-row:nth-child(3) {
  height: 50%;
}

.Nine .card-row:nth-child(3) {
  height: 54%;

  justify-content: start;
}

/* Footer formatting. */
footer {
  display: flex;

  width: 100%;
  box-sizing: border-box;

  background-color: white;
  padding: 15px;  

  place-content: center;

  }
  .footerDiv{
    text-align: center;
  }

/* Utility formatting. */
.loading {
  display: inline-block;
  margin: 0;
}

.loading span {
  display: inline-block;
}

.loading span:nth-of-type(1) {
  animation: 0.5s ease 0s infinite alternate bounce;
}

.loading span:nth-of-type(2) {
  animation: 0.5s ease 0.5s infinite alternate bounce; 
}

.loading span:nth-of-type(3) {
  animation: 0.5s ease 1s infinite alternate bounce;
}

.solar-system {
  position: fixed;

  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);

  height: 100vh;
  width: 100vw;
}

.solar-system div {
  aspect-ratio: 1/1;
  border-radius: 10000vh;
}

.solar-system p {
  color: white;
  font-size: 20pt;
}

.star, .orbit-outline {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.star {
  background-color: white;

  height: 8%;
}

.orbit-outline {
  display: flex;
  justify-content: center;

  border: 2px solid white;

  animation: 1s linear 0s infinite forwards orbit;
}

.planet {
  display: flex;
  overflow: hidden;

  transform: translateY(-50%);

  background-color: white;
}

.table-layout {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 50%;
}

.table-layout table {
  width: 100%;
}

.filter {
  display: flex;
  justify-content: space-between;

  width: 100%;

  padding: 10px;
}

#viewUsers {
  table-layout: fixed;
}

#viewUsers tr:hover {
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}

#applicationReview {
  width: 100%;
}

#applicationReview table {
  width: 70%;
}

.inline-form {
  display: flex;

  flex-direction: column;
}

.inline-form label:nth-of-type(1) {
  margin-top: 0;
}

.inline-form label {
  margin-top: 15px;
}

.inline-form input[type="submit"] {
  font-size: 12pt;
  font-family: "Reddit Sans";

  border: 0;

  margin-top: 20px;
  padding: 8px;

  width: 100%;
}

.inline-form input[type="submit"]:hover {
  cursor: pointer;
}

.backButn{
  position: absolute;
  display: flex;
  top: 85px;
  left: 10px;
  place-content: center;
  place-items: center;
  }
.back-to-store{
  position: absolute;
  display: flex;
  top: 85px;
  left: 200px;
  place-content: center;
  place-items: center;
  }

.move-down{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.shopping-cart{
  position: absolute;
  top: 98px;
  right: 71px;
  }

.buy-BTN{
  margin-left: auto;
  position: absolute;
  right: 8vw;
  border-radius: 20px;;
}
.buy-BTN:hover{
  box-shadow: 5px 5px 10px grey;
}
.buy-BTN button{
  height: 30px;
  border-radius: 20px;;
}

.black-link{
  color: #231F20;
  text-decoration: none;
  }
  .black-link:hover{
    color: red;
    text-decoration: underline;
  }

.overflow-table{
  height: 77vh;
  overflow-x: auto;
}

#insertCartNum{
  position: absolute;
  right: 228px;
  top: 115px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: black;
  color: white;
  text-align: center;
  align-content: center;
  font-size: 30px;
}

.center-form{
  margin: auto;
}

.formPage{
  display: flex;
  flex-direction: row;
}

.formCard{
  margin: auto;
}